<template>
    <div class="container">
        <div class= "wrapper">
            <div class="input">
                firstname<a-input placeholder="your name" class="input" v-model="firstname"/>
                lastname<a-input placeholder="your lastanme" class="input"  v-model="lastname" />
                amount<a-input placeholder="amount of joke"  class="input" v-model="amount"/>
            </div>
            <div class="buttonwrap">
              <a-button type="primary" class="button" @click="set(amount,firstname,lastname)">get Data</a-button>
              <a-button type="primary" class="button" @click="setall(firstname,lastname)">get all</a-button>
            </div>
            <div class="list">
                <a-list itemLayout="horizontal" :dataSource="temp.value">
                    <a-list-item slot="renderItem" slot-scope="item">
                        <a-list-item-meta
                        >
                            <a slot="title" >{{
                                item.joke
                            }}</a>
                        </a-list-item-meta>
                    </a-list-item>
                </a-list>
            </div>
        </div>
    </div>
</template>

<script>
import Logo from "~/components/Logo.vue"
import axios from "axios"
import { Button } from 'ant-design-vue'
import { mapState } from "vuex"

export default {
    components: {
        Logo
    },
    mounted() {

    },
    computed: {
        ...mapState({
            data: state => state.dataStore.Data
        })
    },
    data() {
        return {
            temp: [],
            firstname:"Chuck",
            lastname:"Norris ",
            amount:5,
        }
    },
    methods: {
        getDataall(firstname,lastname) {
            return axios
                .get(`http://api.icndb.com/jokes/?firstName=${firstname}&&lastName=${lastname}`)
                .then(function(response) {
                    console.log(response.data)
                    return response.data
                })
                .catch(function(error) {
                    return error
                })
        },
        getData(id,firstname,lastname) {
            return axios
                .get(`http://api.icndb.com/jokes/random/${id}/?firstName=${firstname}&&lastName=${lastname}`)
                .then(function(response) {
                    console.log(response.data)
                    return response.data
                })
                .catch(function(error) {
                    return error
                })
        },
        set(id,firstname,lastname) {
            this.getData(id,firstname,lastname).then(res => {
                this.temp = res
            })
        },
        setall(firstname,lastname) {
            this.getDataall(firstname,lastname).then(res => {
                this.temp = res
            })
        }
    }
}
</script>

<style>
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    display: flex;
    height: 75px
}
.wrapper{
  height: 100%;
}
.buttonwrap{
  width: 100%;
}
.button{
  width: 20%;
  height: 50px
}
</style>
